body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*------------------------------------- HEADER --------------------------------------*/



/* ---------------------------- MAIN ----------------------------------*/
main {
    padding: 10px;
    background-color: blueviolet;
}

#carouselExampleAutoplaying {
    width: 70%;
    /* Ajuste a largura conforme necessário */
    margin: auto;
    /* Centraliza o carrossel na página */
}

/* Adiciona estilo às imagens dentro do carrossel */
.carousel-item img {
    height: 400px;
    /* Ajuste a altura conforme necessário */
    object-fit: cover;
    /* Mantém a proporção da imagem ao cobrir o contêiner */
}

/* Adiciona estilo aos controles do carrossel */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    /* Ajuste a largura conforme necessário */
}

/* Adiciona estilo ao ícone dos controles do carrossel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333;
    /* Cor de fundo dos ícones */
    border: 1px solid #fff;
    /* Borda dos ícones */
    border-radius: 5px;
    /* Borda arredondada dos ícones */
}

/* Adiciona estilo ao texto "Previous" e "Next" dos controles do carrossel */
.carousel-control-prev span,
.carousel-control-next span {
    color: #fff;
    /* Cor do texto */
    font-size: 1.5rem;
    /* Tamanho da fonte */
}


/*----------------------------------FOOTER-------------------------------------------------*/



footer {
    background-color: aqua;
    color: black;
    text-align: center;
    padding: 10px 0;
}